#!/bin/bash

export UWKGM_DJANGO_SECRET_KEY=

export UWKGM_DB_DJANGO_USERNAME=
export UWKGM_DB_DJANGO_PASSWORD=
export UWKGM_DB_DJANGO_ROOT_PASSWORD=

export UWKGM_DB_DOCS_USERNAME=
export UWKGM_DB_DOCS_PASSWORD=

export UWKGM_DB_GRAPHS_USERNAME=
export UWKGM_DB_GRAPHS_PASSWORD=