#!/bin/bash

export UWKGM_DB_DJANGO=MYSQL
export UWKGM_DB_DJANGO_VERSION=8.0.19
export UWKGM_DB_DJANGO_ADDRESS=localhost
export UWKGM_DB_DJANGO_PORT=3306
export UWKGM_DB_DJANGO_HOST_PATH=

export UWKGM_DB_DOCS=MONGO
export UWKGM_DB_DOCS_VERSION=4.2.3
export UWKGM_DB_DOCS_ADDRESS=localhost
export UWKGM_DB_DOCS_PORT=27017
export UWKGM_DB_DOCS_HOST_PATH=

export UWKGM_DB_GRAPHS=VIRTUOSO
export UWKGM_DB_GRAPHS_VERSION=1.3.2-virtuoso7.2.5.1
export UWKGM_DB_GRAPHS_ADDRESS=http://localhost
export UWKGM_DB_GRAPHS_PORT=8890
export UWKGM_DB_GRAPHS_DEFAULT_GRAPH=http://dbpedia.org
export UWKGM_DB_GRAPHS_HOST_PATH=
export UWKGM_PKG_VIRTUOSO_HOST_IMPORT_PATH=
export UWKGM_PKG_VIRTUOSO_NUM_BUFFERS=10000
export UWKGM_PKG_VIRTUOSO_DIRTY_BUFFERS=6000