#!/bin/bash

source bin/packages

packages.{{PACKAGE_NAME}}.build.install() {
    echo "[UWKGM: INFO] Package Installer"
    manage.packages.install.api.packages {{PACKAGE_NAME}}
    echo "Installation completed."
    echo ""
}
