asgiref==3.3.1
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
click==7.1.2
cryptography==3.2.1
Django==3.1.4
django-cors-headers==3.5.0
djangorestframework==3.12.2
djangorestframework-simplejwt==4.4.0
dorest==0.1.2
idna==2.10
isodate==0.6.0
joblib==0.17.0
mysqlclient=2.0.1
nltk==3.5
pycparser==2.20
PyJWT==1.7.1
pymongo==3.11.2
PyMySQL==0.10.1
pyparsing==2.4.7
pytz==2020.4
PyYAML==5.3.1
rdflib==5.0.0
regex==2020.11.13
requests==2.25.0
six==1.15.0
SPARQLWrapper==1.8.5
sqlparse==0.4.1
tqdm==4.54.0
urllib3==1.26.2
