asgiref==3.3.1
cffi==1.14.4
cryptography==3.3.1
Django==3.1.5
django-cors-headers==3.6.0
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
dorest==0.1.2
isodate==0.6.0
pycparser==2.20
PyJWT==2.0.0
pymongo==3.11.2
pyparsing==2.4.7
pytz==2020.5
PyYAML==5.3.1
rdflib==5.0.0
six==1.15.0
SPARQLWrapper==1.8.5
sqlparse==0.4.1
